<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        try {

        } catch (error) {

        }
        finally {
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.load('current', { 'packages': ['bar'] });
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(drawChart2);
            google.charts.setOnLoadCallback(drawVisualization);
            google.charts.setOnLoadCallback(drawVisualization2);
        }
    })
    async function drawChart() {
        var top = 0;
        var bottom = 0;
        var shoes = 0;
        var var_Array = new Array();
        await axios.get('/purchase')
            .then((data) => {
                try {
                    var_Array = data.data;
                }
                catch {

                }
                finally {
                    for (var i = 0; i < var_Array.length; i++) {
                        if (var_Array[i].Product.proType == 'top') {
                            top += var_Array[i].purchaseAmount;
                        }
                        if (var_Array[i].Product.proType == 'bottom') {
                            bottom += var_Array[i].purchaseAmount;
                        }
                        if (var_Array[i].Product.proType == 'shoes') {
                            shoes += var_Array[i].purchaseAmount;
                        }
                    }
                    var data = google.visualization.arrayToDataTable([
                        ['Task', 'Hours per Day'],
                        ['Top', top],
                        ['Bottom', bottom],
                        ['Shoes', shoes]
                    ]);
                    var options = {
                        title: '상품타입별 판매실적',
                        is3D: true,
                    };
                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    chart.draw(data, options);

                }
            })
    }
    async function drawChart2() {
        var type = ['Day', 'Amount', 'Total'];
        var day = "";
        var amount = 0;
        var total = 0;
        var var_array = new Array();
        var var_array2 = new Array();
        var arr = [];
        await axios.get('/purchase/chart2')
            .then((data) => {
                var_array = data.data;
                for (var i = 0; i < var_array.length; i++) {
                    if (var_array[i + 1] != undefined) {
                        if (var_array[i].created_at.slice(5, 10) == var_array[i + 1].created_at.slice(5, 10)) {
                            day = var_array[i].created_at.slice(5, 10);
                            amount = var_array[i].purchaseAmount + var_array[i + 1].purchaseAmount;
                            total = var_array[i].purchaseTotal + var_array[i + 1].purchaseTotal;
                            arr = [day, String(amount), total];
                            var_array2.push(arr);
                            var_array.splice([i + 1], 1);  //끝배열이 없을경우 배열을 삭제해가면서 해결
                            //alert(JSON.stringify(arr));
                        }
                        else {
                            arr = [var_array[i].created_at.slice(5, 10), String(var_array[i].purchaseAmount), var_array[i].purchaseTotal];
                            var_array2.push(arr);
                        }
                    }
                }
            })
        var_array2.unshift(type); //배열가장앞에 추가
        var data = google.visualization.arrayToDataTable(var_array2);

        var options = {
            chart: {
                title: '일별 판매실적',
            }
        };
        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
    function drawVisualization2() {
        var data;
        if ($('select#user_change').val() == 0) {

            data = google.visualization.arrayToDataTable([
                ['User', 'Top', 'Bottom', 'Shoes', 'Average'],
                ["", 0, 0, 0, 0]
            ]);
            var options = {
                title: '유저별 구입 품목',
                vAxis: { title: 'Amount' },
                hAxis: { title: 'User' },
                seriesType: 'bars',
                series: { 5: { type: 'line' } }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart2'));
            chart.draw(data, options);
        }
    }

    function drawVisualization() {
        var userId;
        var userName;
        var type = ['User', 'Top', 'Bottom', 'Shoes', 'Average'];
        var var_array = new Array();
        var var_array2 = new Array();
        var Top = 0;
        var Bottom = 0;
        var Shoes = 0;
        var data;
        $('select#user_change').change(async function () {
            userId = $(this).val();
            userName = $('#user_change option:selected').text();
            await axios.get(`/purchase/chart3/${userId}`)
                .then((data) => {
                    var_array = data.data;
                    for (var i = 0; i < var_array.length; i++) {

                        if (var_array[i].Product.proType == "top") {
                            Top += var_array[i].purchaseAmount;
                        }
                        if (var_array[i].Product.proType == "bottom") {
                            Bottom += var_array[i].purchaseAmount;
                        }
                        if (var_array[i].Product.proType == "shoes") {
                            Shoes += var_array[i].purchaseAmount;
                        }
                    }
                    var_array2.push([userName, Top, Bottom, Shoes, parseFloat(((Top + Bottom + Shoes) / 3).toFixed(1))]);
                    var_array2.unshift(type);
                })
            data = google.visualization.arrayToDataTable(var_array2);
            var_array2.splice(0, var_array2.length);
            Top=0
            Bottom=0;
            Shoes=0;

            var options = {
                title: '유저별 구입 품목',
                vAxis: { title: 'Amount' },
                hAxis: { title: 'User' },
                seriesType: 'bars',
                series: { 5: { type: 'line' } }
            };

            var chart = new google.visualization.ComboChart(document.getElementById('chart2'));
            chart.draw(data, options);
        })
    }
</script>

<body>
    <div id="chart1">
        <div id="piechart" style="width: 50%; height: 350px; float: left;"></div>
        <div id="columnchart_material" style="width: 50%; height: 350px; float: left;"></div>
    </div>
    <div>
        유저선택 <select name="User" id="user_change">
            <option value="0" id="0">----</option>
            {% for item in result2%}
            <option value="{{item.id}}" id="{{item.name}}">{{item.name}}</option>
            {% endfor %}
        </select>
        <div id="chart2" style="position: fixed; bottom: 0; height: 200px; width: 800px; float: left"></div>
    </div>
</body>