<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        try {

        } catch (error) {

        }
        finally {
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.load('current', { 'packages': ['bar'] });
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(drawChart2);
        }
    })
    async function drawChart() {
        var top = 0;
        var bottom = 0;
        var shoes = 0;
        var var_Array = new Array();
        await axios.get('/purchase')
            .then((data) => {
                try {
                    for (var i = 0; i <= data.data.length; i++) {
                        var_Array.push(data.data[i].Product.proType);
                    }
                }
                catch {

                }
                finally {
                    for (var i = 0; i <= var_Array.length; i++) {
                        if (var_Array[i] == 'top') {
                            top++;
                        }
                        if (var_Array[i] == 'bottom') {
                            bottom++;
                        }
                        if (var_Array[i] == 'shoes') {
                            shoes++;
                        }
                    }
                    var data = google.visualization.arrayToDataTable([
                        ['Task', 'Hours per Day'],
                        ['Top', top],
                        ['Bottom', bottom],
                        ['Shoes', shoes]
                    ]);
                    var options = {
                        title: '상품타입별 판매실적',
                        is3D: true,
                    };
                    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    chart.draw(data, options);

                }
            })
    }
    async function drawChart2() {
        var type = ['Day', 'Amount', 'Total'];
        var day = "";
        var amount = 0;
        var total = 0;
        var var_array = new Array();
        var var_array2 = new Array();
        var arr = [];
        await axios.get('/purchase/chart2')
            .then((data) => {
                var_array = data.data;
                for (var i = 0; i <= var_array.length; i++) {
                    if (var_array[i + 1] != undefined) {
                        if (var_array[i].created_at.slice(5, 10) == var_array[i + 1].created_at.slice(5, 10)) {
                            day = var_array[i].created_at.slice(5, 10);
                            amount = var_array[i].purchaseAmount+var_array[i + 1].purchaseAmount;
                            total = var_array[i].purchaseTotal+var_array[i + 1].purchaseTotal;
                            arr = [day, String(amount), total];
                            var_array2.push(arr);
                            var_array.splice([i+1],1);  //끝배열이 없을경우 배열을 삭제해가면서 해결
                        }
                        else {
                            arr = [var_array[i].created_at.slice(5, 10), String(var_array[i].purchaseAmount), var_array[i].purchaseTotal];
                            var_array2.push(arr);
                        }
                    }
                }
            })
        var_array2.unshift(type); //배열가장앞에 추가
        var data = google.visualization.arrayToDataTable(var_array2);

        var options = {
            chart: {
                title: '일별 판매실적',
            }
        };
        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script>

<body>
    <div>
        <div id="piechart" style="width: 50%; height: 400px; float: left;"></div>
        <div id="columnchart_material" style="width: 50%; height: 400px; float: left;"></div>
    </div>

</body>