{% extends 'layout.html' %}

{% block content %}

<script>
  // $(document).ready(function () {
  //   getBestPro();
  //   })
  //   async function getBestPro(){
  //     await axios.get('/product/getTopProduct')
  //     .then((data)=>{
  //     })
  //   }
</script>
<body>
  <header>
    
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to GyuShop!</h1>
  
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Top</h4>
          <div class="card-footer">
            <a class="btn btn-primary" href="/productList/Top">Go→</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Bottom</h4>
          <div class="card-footer">
            <a href="/productList/Bottom" class="btn btn-primary">Go→</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Shoes</h4>
          <div class="card-footer">
            <a href="/productList/Shoes" class="btn btn-primary">Go→</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>Best Products</h2>
    <div class="row">
      {% for item in result %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <h4 class="card-header" style="color: blue;">{{loop.index}} 위</h4>
          <img class="card-img-top" src="{{item.proPhoto}}" alt="" width="300px" height="250px">
          <div class="card-body">
            <h4 class="card-title">
              <a href="/product/{{item.id}}">{{item.proName}}</a>
            </h4>
            <p class="card-text">{{item.proContent}}</p>
          </div>
        </div>
      </div>
       {% endfor %}
    </div>
  </div>
 
  </div>
  <!-- /.row -->

 
  <!-- /.row -->


</body>
{% endblock %}