{% extends 'layout.html' %}

{% block content %}

<body>
    
  <!-- Page Content -->
  <div class="container">

  </br>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Main</a>
      </li>
      <li class="breadcrumb-item active">Top</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="uploads/면접.jpg" alt="" height="450" width="300">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <p>Price</p>
            <form name="form" method="get">
              수량 : <input type=hidden name="sell_price" value="5500">
              <input type="text" name="amount" value="1" size="3" onchange="change();">
              <input type="button" value=" + " onclick="add();"><input type="button" value=" - " onclick="del();"><br>
              
              금액 : <input type="text" name="sum" size="11" readonly>원
              </form>
            </br>
            <a href="#" class="btn btn-primary">PurChase &rarr;</a>
            <a href="#" class="btn btn-primary">WishList &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on January 1, 2017 by
        <a href="#">Start Bootstrap</a>
      </div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
</body>
{% endblock %}
