{% extends 'layout.html' %}

{% block content %}
<script>
  window.onload = function () {
    getComment();
  }
  function total() {
    const price = $('#sell_price').val();
    const total = price * $('#sell_amount').val();
    $('#sum').attr('value', total);
  }

  async function comment(userId) {
    const productId = $('#product_Id').val();
    const commenter = userId;
    const comment = $('#text_comment').val();
    await axios.post('/comment', { productId, commenter, comment });
    getComment();

  }
  async function getComment() {
    const productId = $('#product_Id').val();
    await axios.get(`/product/{{productId}}`);
  }

  async function wishList(id) {
    const data = confirm('장바구니에 추가하시겠습니까?');
    if (data) {
      const userId = id;
      const productId = $('#product_Id').val();
      const amount = $('#sell_amount').val();
      const price = $('#sum').val();
      await axios.post('/wishlist', { userId, productId, amount, price })
        .then((result) => {
          alert('장바구니에 추가되었습니다.');
        })
        .catch((result) => {

        })
    }
  }
  async function purchase(name) {
    const data = confirm(`${name} 상품을 구매하시겠습니까?`);
    if (data) {
      const curAmount = `{{result.proAmount}}`;
      const amount = $('#sell_amount').val();
      const userId = $('#user_Id').val();
      const productId = $('#product_Id').val();
      const price = $('#sum').val();
      const type = 0;
      const money = `{{user.money}}`;

      if (money < price) {
        alert('보유금액이 부족합니다.')
        return false;
      }
      if (curAmount == 0) {
        alert('보유재고가 부족합니다.')
        return false;
      }
      if (price > money) {
        alert('상품가격이 보유금액을 초과합니다.')
        return false;
      }
      await axios.post('/purchase', { type, userId, productId, curAmount, amount, price, money })
        .then((result) => {
          alert(`${name} 을 구매하였습니다.`);
          location.reload();
        })
        .catch((result) => {

        })
    }
  }
//   function getFormatDate(date){
//     var year = date.getFullYear();              //yyyy
//     var month = (1 + date.getMonth());          //M
//     month = month >= 10 ? month : '0' + month;  //month 두자리로 저장
//     var day = date.getDate();                   //d
//     day = day >= 10 ? day : '0' + day;          //day 두자리로 저장
//     return  year + '-' + month + '-' + day;       //'-' 추가하여 yyyy-mm-dd 형태 생성 가능
// }
</script>

<body>

  <!-- Page Content -->
  <div class="container">
    </br>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Main</a>
      </li>
      <li class="breadcrumb-item active">{{result.proType}}</li>
      <li class="breadcrumb-item active">{{result.proName}}</li>
    </ol>
    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="{{result.proPhoto}}" alt="" height="450" width="300">
            </a>
          </div>
          <div class="col-lg-6">
            <input id="user_Id" type="hidden" value="{{user.id}}">
            <input id="product_Id" type="hidden" value="{{result.id}}">
            <h2 class="card-title">{{result.proName}}</h2>
            <p class="card-text">{{result.proContent}}</p>
            <p><b>Amount</b> {{result.proAmount}} 개</p>
            <p><b>Price</b> {{result.proPrice}} 원</p>
            수량 : <input type=hidden id="sell_price" value="{{result.proPrice}}">
            <input type="number" id='sell_amount' max="{{result.proAmount}}" min="1" value="1" onchange="total()">


            금액 : <input type="number" id="sum" size="20" disabled value="{{result.proPrice}}">원

            </br></br>
            {% if user.admin %}
            <input type="button" class="btn btn-primary" onclick="purchase(`{{result.proName}}`)" value="PurChase"
              disabled>
            <input type="button" class="btn btn-primary" onclick="wishList(`{{user.id}}`)" value="WishList" disabled>
            {% else %}
            <input type="button" class="btn btn-primary" onclick="purchase(`{{result.proName}}`)" value="PurChase">
            <input type="button" class="btn btn-primary" onclick="wishList(`{{user.id}}`)" value="WishList">
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">{{result.createdAt}}</div>
    </div>
    <div class="get-box" style="margin:auto">
      <h4>Comments</h4>
      {% if user.id %}
      <form class="get-form">
        <textarea id='text_comment' placeholder="Enter your comment" style="resize:none" rows="2" cols="100"></textarea>
        <button class="btn btn-primary" style="height: 57px; top: -22px; position: relative;"
          onclick="comment(`{{user.id}}`)">Add</button>
      </form>
      {% else %}
      <form class="get-form">
        <textarea placeholder="Please log in and use it." style="resize:none" rows="2" cols="100" disabled></textarea>
        <button class="btn btn-primary" style="height: 57px; top: -22px; position: relative;" disabled>Add</button>
      </form>
      {% endif %}
    </div>
    <form class="get-form">
      {% for item in commentResult %}
      <textarea style="resize:none" rows="1" cols="100" disabled>작성자 : {{item.User.name}} {{item.comment}}</textarea>
      {% endfor %}
    </form>
  </div>

  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>

  </div>

  </div>
  <!-- /.container -->


</body>
{% endblock %}