<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #003098;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #003098;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #000f98;
    }
</style>
<script>
     $(document).ready(function () {
        // const index=$('.styled-table tbody tr').length;
        $('.delete_btn').click(async function () {
            const tr = $(this).parent().parent();
            const td = tr.children();
            const data = confirm('상품을 삭제 하시겠습니까?');

            if (data) {
                const deleteProduct = td.eq(0).text();
                await axios.get(`/sidebar/productlist/${deleteProduct}`)
                    .then((data) => {
                        alert('삭제가 완료되었습니다.');
                    })
                await axios.get(`/sidebar/1`)
                    .then((data) => {
                        $('#content_col').empty();
                        $('#content_col').append(data.data);
                    });
            }
        })
    })
</script>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Content</th>
            <th>Created</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.proType}}</td>
            <td>{{item.proName}}</td>
            <td>{{item.proPrice}}</td>
            <td>{{item.proAmount}}</td>
            <td>{{item.proContent}}</td>
            <td>{{item.createdAt}}</td>
            <td><input type="button" class="delete_btn" value="삭제"></td>
        </tr>
        {% endfor %}
        <!-- and so on... -->
    </tbody>
</table>