{% extends 'layout.html' %}

{% block content %}
<script>
  function total() {
    const price = $('#sell_price').val();
    const total = price * $('#sell_amount').val();
    $('#sum').attr('value',total);
  }
</script>

<body>

  <!-- Page Content -->
  <div class="container">
    </br>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Main</a>
      </li>
      <li class="breadcrumb-item active">{{result.proType}}</li>
      <li class="breadcrumb-item active">{{result.proName}}</li>
    </ol>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="{{result.proPhoto}}" alt="" height="450" width="300">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">{{result.proName}}</h2>
            <p class="card-text">{{result.proContent}}</p>
            <p><b>Amount</b> {{result.proAmount}} 개</p>
            <p><b>Price</b> {{result.proPrice}} 원</p>
            수량 : <input type=hidden id="sell_price" value="{{result.proPrice}}">
            <input type="number" id='sell_amount' max="{{result.proAmount}}" min="1" value="1" onchange="total()">


             금액 : <input type="text" id="sum" size="11" readonly value="{{result.proPrice}}">원

            </br></br>
            <a href="#" class="btn btn-primary">PurChase &rarr;</a>
            <a href="#" class="btn btn-primary">WishList &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">{{result.createdAt}}</div>
    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
</body>
{% endblock %}