{% extends 'layout.html' %}

{% block content %}
<script>
    $(document).ready(() => {
        paging();
    })
    async function paging() {
        const id = `{{type}}`;
        var totalData;
        var result;
        await axios.get(`/productList/${id}/json`)
            .then((data) => {
                totalData = data.data.length; // 총 데이터 수
            })
        var currentPage = 1;
        var dataPerPage = 4;    // 한 페이지에 나타낼 데이터 수
        var pageCount = Math.ceil(totalData / dataPerPage);      // 한 화면에 나타낼 페이지 수

        var totalPage = pageCount;   // 총 페이지 수
        var pageGroup = Math.ceil(currentPage / pageCount);    // 페이지 그룹
        // alert("pageGroup : " + pageGroup);

        var last = pageGroup * pageCount;    // 화면에 보여질 마지막 페이지 번호
        if (last > totalPage)
            last = totalPage;
        var first = last - (pageCount - 1);    // 화면에 보여질 첫번째 페이지 번호
        var next = last + 1;
        var prev = first - 1;

        console.log('totalpage : ' + totalPage);
        console.log("last : " + last);
        console.log("first : " + first);
        console.log("next : " + next);
        console.log("prev : " + prev);

        var html = '<ul class="pagination justify-content-center">';
        if (prev > 0)
            html += `<li class="page-item"><a href=# id='prev'><</a></li>`;
        for (var i = first; i <= last; i++) {
            if(i==1){
                html += ` <li class="page-item"><a class='page-link' id='on'>${i}</a></li>`
            }else{
                html += ` <li class="page-item"><a class='page-link' id='off'>${i}</a></li>`
            }
           
        }
        if (last < totalPage)
            html += `<li class="page-item"><a href=# id='next'>></a></li>`;
        html += `</ul>`
        $("#cur_page").append(html);    // 페이지 목록 생성

        var tag = $('div.portfolio-item');

        const page = $(this).text();
        const index1 = 1 * 4;
        $('div.portfolio-item').each(function (index, item) {
            if (index >= index1 - 4 && index < index1) {
                $(this).attr('id', index);
            }
        })
        $('a.page-link').on('click', async function () {
            $('a.page-link').attr('id','off');
            $(this).attr('id','on');
            const id = `{{type}}`;
            const page = $(this).text();
            const listArray = new Array();
           
            await axios.get(`/productList/page/${id}/${page}`)
                .then((data) => {
                    for (var i = 0; i < data.data.length; i++) {
                        var html2 = '';
                        html2 += `<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">`;
                        html2 += `<div class="card h-100">`;
                        html2 += `<a><img class="card-img-top" src=${data.data[i].proPhoto} alt="" height="250" width="300"></a>`;
                        html2 += `<div class="card-body">`;
                        html2 += ` <h4 class="card-title">`;
                        html2 += ` <a href="/product/${data.data[i].id}">${data.data[i].proName}</a></h4>`;
                        html2 += `<p class="card-text">${data.data[i].proContent}</p>`;
                        html2 += `</div></div></div>`;
                        listArray.push(html2);
                    }
                    //console.log(listArray);
                    $('div.portfolio-item').remove();
                    $('div.row').append(listArray);
                })
        })

    };
</script>

<body>
    <!-- Page Content -->
    <div class="container">
        </br>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Main</a>
            </li>
            <li class="breadcrumb-item active">{{type}}</li>
        </ol>
        <div class="row">
            {% for item in result %}
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a><img class="card-img-top" src={{item.proPhoto}} alt="" height="250" width="300"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/product/{{item.id}}">{{item.proName}}</a>
                        </h4>
                        <p class="card-text">{{item.proContent}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div id="cur_page"></div>
    </div>
    <!-- /.container -->
</body>
{% endblock %}