<!-- Custom styles for this template -->
<link href="../css/modern-business.css" rel="stylesheet">
<script>
    $(document).ready(function () {
        getPurPost();
        paging();
        getproStatus();
        purPostPopup();
    })
    function getproStatus() {
        $('td#pro_status').each(function () {
            if ($(this).text() == '0') {
                $(this).text('상품준비중').css('color', 'blue');
            }
            else if ($(this).text() == '1') {
                $(this).text('배송중').css('color', 'red');
            }
            else if ($(this).text() == '2') {
                $(this).text('배송완료').css('color', 'gray');
            }
        })
    }
    async function paging() {
        const id = `{{user.id}}`;
        var totalData;
        var result;
        await axios.get(`/purchase/${id}/json`)
            .then((data) => {
                totalData = data.data.length; // 총 데이터 수
            })
        var currentPage = 1;
        var dataPerPage = 6;    // 한 페이지에 나타낼 데이터 수
        var pageCount = Math.ceil(totalData / dataPerPage);      // 한 화면에 나타낼 페이지 수

        var totalPage = pageCount;   // 총 페이지 수
        var pageGroup = Math.ceil(currentPage / pageCount);    // 페이지 그룹
        // alert("pageGroup : " + pageGroup);

        var last = pageGroup * pageCount;    // 화면에 보여질 마지막 페이지 번호
        if (last > totalPage)
            last = totalPage;
        var first = last - (pageCount - 1);    // 화면에 보여질 첫번째 페이지 번호
        var next = last + 1;
        var prev = first - 1;

        var html = '<ul class="pagination justify-content-center">';
        if (prev > 0)
            html += `<li class="page-item"><a href=# id='prev'><</a></li>`;
        for (var i = first; i <= last; i++) {
            if (i == 1) {
                html += ` <li class="page-item"><a class='page-link' id='on'>${i}</a></li>`
            } else {
                html += ` <li class="page-item"><a class='page-link' id='off'>${i}</a></li>`
            }

        }
        if (last < totalPage)
            html += `<li class="page-item"><a href=# id='next'>></a></li>`;
        html += `</ul>`
        $("#cur_page").append(html);    // 페이지 목록 생성

        var tag = $('div.portfolio-item');

        const page = $(this).text();
        const index1 = 1 * 6;
        $('div.portfolio-item').each(function (index, item) {
            if (index >= index1 - 6 && index < index1) {
                $(this).attr('id', index);
            }
        })
        $('a.page-link').on('click', async function () {
            $('a.page-link').attr('id', 'off');
            $(this).attr('id', 'on');
            const page = $(this).text();
            const listArray = new Array();
            await axios.get(`/purchase/page/${id}/${page}`)
                .then((data) => {
                    for (var i = 0; i < data.data.length; i++) {
                        var html2 = '';
                        html2 += `<tbody id=${data.data[i].id} class="sub">`;
                        html2 += `<input type="hidden" id="pur_userName" value="${data.data[i].User.name}">`;
                        html2 += `<tr id="td" class="purchase_content">`;
                        html2 += ` <input type="hidden" id="pur_productId" value="${data.data[i].Product.id}}" />`
                        html2 += `<td class="pur_id">${data.data[i].id}</td>`;
                        html2 += `<td><img src="${data.data[i].Product.proPhoto}" width="150" height="150"></td>`;
                        html2 += `<td>${data.data[i].Product.proName}</td>`;
                        html2 += ` <td id="pro_price">${data.data[i].Product.proPrice}</td>`;
                        html2 += `<td id="pro_amount">${data.data[i].purchaseAmount}</td>`;
                        html2 += `<td id="total_sum">${data.data[i].purchaseTotal}</td>`;
                        html2 += `<td id="pro_status">${data.data[i].purChaseStatus}</td>`;
                        html2 += `</tr><tr class="data_td" id="td" style="text-align: left;">`;
                        if (data.data[i].purChaseStatus == 2) {
                            html2 += `<td colspan="6" style="text-align:left;"><label style="color: #000f98;" >Created</label>${data.data[i].created_at}</td>`;
                            html2 += `<td><input type="button" id="postPopup" value="후기작성"></td>`;
                        }
                        else {
                            html2 += `<td colspan="7" style="text-align:left;"><label style="color: #000f98;">Created</label>${data.data[i].created_at}</td>`;
                        }
                        html2 += `</tr></tbody>`;
                        listArray.push(html2);
                    }
                    $(`tbody.sub`).remove();
                    $('thead').after(listArray);
                    purPostPopup();
                    getproStatus();
                    getPurPost();
                })
        })

    };
    async function purPost() {
        await axios.get('/userSidebar/2')
    }
    function purPostPopup() {
        $('td input#postPopup').on('click', function (e) {
            var html = '';
            const tr = $(this).parent().parent();
            const purId = tr.parent().attr('id');
            html += `<tr id="purPost_tag">`;
            html += `<td colspan="7" style="text-align:left;">`;
            html += `<b>평점 : </b><select name="pro_post">
    <option value="0">0</option>
    <option value="1">1</option>  
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option> 
    <option value="5">5</option>
</select>`;
            html += `</br></br>`;
            html += `<textarea placeholder="Please your Comment." style="resize:none" rows="2" cols="100" required></textarea> `;
            html += `<input type="button" id="postSuccess" value="등록" onclick="successPostPopup(${purId});"> `;
            html += `<input type="button" id="postCancel" value="취소" onclick="removePostPopup(${purId});">`;
            html += `</td></tr>`;
            tr.after(html);
            tr.children().eq(1).children().attr('disabled', 'true');

        })

    }
    function removePostPopup(purId) {
        const tbodyId = purId;
        $('tbody').each(function () {
            if ($(this).attr('id') == tbodyId) {
                const flag = confirm('후기등록을 취소하시겠습니까?');
                if (flag) {
                    $(`tbody#${tbodyId}`).find('input#postPopup').removeAttr('disabled');
                    $(`tbody#${tbodyId}`).find('tr#purPost_tag').remove();
                }
            }
        })
    }
    function successPostPopup(purId_html) {
        const tbodyId = purId_html;
        $('tbody').each(async function () {
            if ($(this).attr('id') == tbodyId) {
                const flag = confirm('후기등록을 하시겠습니까?');
                if (flag) {
                    const userName = $(this).find('#pur_userName').val();
                    const purPost = $(this).find('select').val();
                    const purComment = $(this).find('textarea').val();
                    const userId = `{{user.id}}`;
                    const proId = $(this).find('#pur_productId').val();
                    const purId = tbodyId;

                    await axios.post('/purchaseComment', { proId, purId, userId, userName, purPost, purComment })
                        .then((data) => {
                            alert('후기등록이 완료되었습니다.');
                            $(this).find('tr#purPost_tag').remove();
                            getPurPost();
                        })
                }
            }
        })
    }
    async function getPurPost() {
        await axios.get('/purchaseComment')
            .then((data) => {
                $.each(data.data, function (index, item) {
                    $('td.pur_id').each(function () {
                        if (item.purChaseId == $(this).text()) {
                            const tbody = $(this).parent().parent();
                            if ($(tbody).attr('id') == item.purChaseId) {
                                $(tbody).find('input#postPopup').attr('value', '후기작성완료').attr('disabled', 'true');
                            }
                        }
                    })
                })
            })
    }

</script>
<table class="styled-table" width="860">
    <thead>
        <tr>
            <th>주문번호</th>
            <th>상품</th>
            <th>상품이름</th>
            <th>가격</th>
            <th>수량</th>
            <th>총액</th>
            <th>상태</th>
        </tr>
    </thead>
    {% if userFlag %}
    {% for item in result %}
    <tbody id="{{item.id}}" class="sub">
        <input type="hidden" id="pur_userName" value="{{item.User.name}}">
        <tr id="td" class="purchase_content" name="{{item.id}}">
            <input type="hidden" id="pur_productId" value="{{item.Product.id}}" />
            <td class="pur_id">{{item.id}}</td>
            <td><img src="{{item.Product.proPhoto}}" width="150" height="150"></td>
            <td>{{item.Product.proName}}</td>
            <td id="pro_price">{{item.Product.proPrice}}</td>
            <td id="pro_amount">{{item.purchaseAmount}}</td>
            <td id="total_sum">{{item.purchaseTotal}}</td>
            <td id="pro_status">{{item.purChaseStatus}}</td>
        </tr>
        <tr class="data_td" id="td" style="text-align: left;">
            {% if item.purChaseStatus == 2 %}
            <td colspan="6" style="text-align:left;"><label style="color: #000f98;">Created</label>
                {{item.created_at}}
            </td>
            <td><input type="button" id="postPopup" value="후기작성"></td>
            {% else %}
            <td colspan="7" style="text-align:left;"><label style="color: #000f98;">Created</label>
                {{item.created_at}}
            </td>
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
    {% elif dataFlag %}
    <tr class="user_list_tr">
        <td colspan="8" style="text-align: center;">No Data</td>
    </tr>
    {% endif %}
</table>
<div id="cur_page"></div>