body {
    padding-top: 56px;
  }
  
  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }
  footer{ position:fixed; 
    left:0px; 
    bottom:0px; 
    height:60px; 
    width:100%; 
    background:grey; 
    color: white; }

    #cur_page{
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #007bff;
      background-color: #fff;
    }
    #on{
      background-color:gray;
      color:white;
    }
    #off{
      background-color: #fff;
      color: #007bff;
    }
    